.afa-main-options {
	float: left;
	width: 74%;
	min-width: 410px;
}
.afa-right-sidebar {
	float: left;
	width: 24%;
	min-width: 250px;
	margin-left: 12px;
}
.adsense-for-amp-menu {
	font-weight: 600 !important;
	text-align: center !important;
	border-left: 1px solid #fff;
	cursor: pointer;
	background: #f5f5f5;
}
.afa-menu-active{
	background: #fff !important;
}
.afa-white-background {
	background: #fff;
}
.afa-form {
	padding: 2%;
	width: 96%;
}
.afa-form-label {
	padding-left:10px;
	width: 28%;
	min-width: 225px;
	float: left;
	font-weight: bold;
}
.afa-form-input {
	width: 65%;
	min-width: 300px;
	float: left;
}
.afa-hide {
	display: none;
}
.afa-show {
	display: block;
}
.afa-clear {
	clear: both;
}
.afa-image {
	width: 100%;
}